{% extends 'base.html.twig' %}

{% block title %}Register
{% endblock %}

{% block body %}
	<div class="container mt-5">
		<div class="row justify-content-md-center">
			<div class="col-12 col-md-3">
				<h1>Registro</h1>
				{{ form_start(registrationForm) }}
				{{ form_row(registrationForm.name, {label: 'Nombre completo'}) }}
				{{ form_row(registrationForm.email, {label: 'Correo electrónico'}) }}
				{{ form_row(registrationForm.plainPassword, {label: 'Contraseña'}) }}
				{{ form_row(registrationForm.agreeTerms,{label: 'Estoy deacuerdo'}) }}
				<div class="d-grid gap-2">
					<button type="submit" class="btn btn-lg btn-primary btn-block">Registrarse</button>
				</div>
				{{ form_end(registrationForm) }}
			</div>
		</div>
	</div>

{% endblock %}
